.header {
  color: #FF7F50;
  text-align: center;
  font-family: 'Lobster', cursive;

}

.h2 {
  color: orange;
  text-align: center;
  text-shadow: 3px red;
  font-family: 'Lobster', cursive;

  }

.h3 {
  color: brown;
  text-align: center;
  font-family: 'Lobster', cursive;

}

.h6 {
  color: orange;
  text-align: center;
  font-family: 'Lobster', cursive;
}

body {
  background-image: url(https://wallpapercave.com/wp/OfM6qTt.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
